// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

// Global Variables

$yellow: rgb(255,255,0);
$darkerYellow: rgb(254,237,1);
$grey: rgb(87,86,69);