/* Global files */

@import "global";
@import '../scss/_grid.scss';

/* Template segments */

@import "./template/_header";
@import "./template/_photos";
@import "./template/_squares.scss";
@import "./template/_gallery.scss";
@import "./template/_jerseys.scss";
@import "./template/_follow.scss";
@import "./template/_partners.scss";
@import "./template/_footer.scss";

/* Media */



.hamburger {
    display: none;
    cursor: pointer;
    margin: 0.5em 1em;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background: white;
    margin: 6px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .hamburger {
        display: inline-block;
    }
    .header-top {
        height: 100%;
    }
    
    .left-nav, .right-nav, .center-nav {
        display: none;
    }
    .left-arrow, .right-arrow {
        display: none;
    }
    .right-list, .left-list {
        display: none !important;
    }
    .jersey-img, .rider-img {
        width: 40%;
    }
    .footer-top {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}