.partners {
    margin-top: 2em;
}

.partners-img {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2em;
    div {
        transition: 0.5s;
    }
    img {
        width: 80%;
        height: auto;
        transition: 0.5s;
    }
}

.hidden {
    display: none;
}