.photos {
    padding-top: 8em;
}


.background-photos {
    width: 100%;
    height: 500px;
    background: url('../images/cyclist1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    i {
        color: white;
    }
    .right-arrow {
        text-align: right;
    }
    .center-title {
        text-align: center;
        padding-top: 5em;
    }
    

    
}

.slider {
    margin-bottom: 7em;
}

.title {
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        margin-top: 1em;
        width: 40%;
        padding: 1em;
        background: none;
        border: 1px solid white;
        color: white;
        font-size: 0.7em;
        outline: none;
    }
}

.time-container {
    display: flex;
    justify-content: center;
}

.bottom-text {
    background: black;
    opacity: 0.8;
    width: 100%;
    
   
}

.tissot {
    display: block;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin: 1em;
    img {
        display: block;
    }
    
}

.time  {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    p {
        display: block;
    }
}